.wrapper {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  padding: 1em 0.5em;
}

.status {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #a5a5a5;
  background-color: #f0f0f0;
  cursor: default;
  user-select: none;
  padding: 0.6em 1em;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.status[data-is-target-open="true"] {
  color: #5cb45c;
  background-color: #f0fae7;
}

.navigate-button {
  margin: 0 0 1.5em 0;
}

img {
  border-bottom: none;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  cursor: default;
  user-select: none;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 1.5em;
}

.description {
  display: flex;
  justify-content: center;
  padding: 0.8em;
  margin-bottom: 1.5em;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  cursor: default;
  user-select: none;
  background-color: #fdfdfd;
}

.takeaway-list,
.takeaway-category-list {
  padding: 0;
  margin: 0;
}

.takeaway-list .takeaway-list-item,
.takeaway-category-list .takeaway-category-list-item {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 0.35em;
  min-width: 15em;
}

.takeaway-category-list .takeaway-category-list-item {
  margin-bottom: 1.2em;
}

.takeaway-link,
.takeaway-category-link {
  display: flex;
  height: 48px;
  flex-grow: 1;
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: #2d234233 0 2px 4px, #2d234226 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  white-space: nowrap;
  font-family: inherit;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.takeaway-category-link {
  color: white;
  height: 3em;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.takeaway-link:focus,
.takeaway-category-link:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, #2d234266 0 2px 4px, #2d23424d 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.takeaway-link:hover,
.takeaway-category-link:hover {
  box-shadow: #2d23424d 0 4px 8px, #2d234233 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
  text-decoration: none;
}

.takeaway-link:active,
.takeaway-category-link:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
